---
import HeadCommon from "../components/HeadCommon.astro";
import Background from "../components/Landing/Background";
---

<!DOCTYPE html>
<html lang="en">
  <HeadCommon />
  <body class="bg-black flex flex-col items-center justify-center">
    <Background client:load />
    <h1 class="text-8xl text-white relative whitespace-nowrap font-press-start">
      <span class="text-green-600 absolute translate-x-1">Game Engine</span>
      <span class="text-blue-600 absolute translate-y-2">Game Engine</span>
      <span class="text-red-600 absolute translate-y-1">Game Engine</span>
      <span class="text-white absolute">Game Engine</span>
    </h1>
    <a
      href="/en/introduction"
      class="bg-white text-black px-8 py-4 text-2xl rounded-lg">Documentation</a
    >
  </body>
</html>
